
body {
  background-image: ("C:/Users/4477078/OneDrive - Moffitt Cancer Center/provider_recognition/shoutoutimage.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #ffffff;
  font-family: 'Comic Sans MS', cursive, sans-serif;
  text-align: center;
  padding-top: 100px;
}

.shoutout-box {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 40px;
  border-radius: 20px;
  display: inline-block;
}
